# Shared PostgreSQL settings
DB_HOST=350_postgres
DB_PORT=5432
DB_USER=350_admin
DB_PASSWORD=350_password
DB_NAME=350_datahive_db

# JWT settings
JWT_SECRET=350_super_secret_exam_key

# RabbitMQ settings
RABBITMQ_URL=amqp://350_rabbit:350_rabbit_password@350_rabbitmq:5672
RABBITMQ_QUEUE=350_event_notifications

# Service ports
AUTH_SERVICE_PORT=5001
EVENT_SERVICE_PORT=5002

# Log directories inside Docker containers
LOGS_DIR=/app/logs
NOTIFICATION_LOGS_DIR=/app/notification_logs
